<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>953336714639-bk1dag1dis96q7m3mkkuosu454pi5vkb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.953336714639-bk1dag1dis96q7m3mkkuosu454pi5vkb</string>
	<key>API_KEY</key>
	<string>AIzaSyCwJ89HftTaF2kYrgUNGRCjQOTubIdwyOE</string>
	<key>GCM_SENDER_ID</key>
	<string>953336714639</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Jonathan.DatingApp2</string>
	<key>PROJECT_ID</key>
	<string>peaches-c1a1b</string>
	<key>STORAGE_BUCKET</key>
	<string>peaches-c1a1b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:953336714639:ios:e74e4bab969c509b5727fa</string>
</dict>
</plist>